<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <!--
      Download the .nupkg files from the latest GitHub Release:
      https://github.com/51193/origo.stable/releases/latest
      Place them in the directory below (or change the path).
    -->
    <add key="origo-local" value="./packages/origo/" />
  </packageSources>
</configuration>
